Repository erkobridee/nx-frontends: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

.azure-pipelines/ci.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: initial_setup
    displayName: nx calculate commandas
    steps:
    - template: templates/steps_install-node-modules.yml
  ...

.azure-pipelines/ci/branches.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: validate_build
    displayName: validate and build
    jobs:
    - job: initial_setup
      displayName: nx calculate commands
      steps:
      - template: ../templates/steps_install-node-modules.yml
  ...

.azure-pipelines/ci/pull-requests.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: check_format
    displayName: nx format:check
    steps:
    - template: ../templates/steps_install-node-modules.yml
    - script: 'npx nx format:check --base=origin/develop --head=HEAD
  
        '
  ...

.azure-pipelines/ci_branches.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: validate_build
    displayName: validate and build
    jobs:
    - job: initial_setup
      displayName: nx calculate commands
      steps:
      - template: templates/steps_install-node-modules.yml
  ...

update(eslint): config
  .eslintrc.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(docs): README
  README.md
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci_branches.yml

update(docs): nx
  docs/nx.md
Due: none

refactor(tools): rename git push builds to branches to git push apps builds to branches
  .azure-pipelines/ci/branches.yml
  .azure-pipelines/manually/build-all.yml
  .azure-pipelines/manually/templates/build-one.yml
  package.json
  tools/scripts/git-push-apps-builds-to-branches.js
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(tools scripts): nx-calculate-commands.js
  tools/scripts/nx-calculate-commands.js
Due: none

update(tools scripts): add storybook support
  tools/scripts/nx-run-all.js
  tools/scripts/nx-run-many.js
  tools/scripts/nx-run-one.js
Due: none

feat(tools scripts): add support to storybook
  package.json
  tools/scripts/git-push-storybook-builds-to-branch.js
  tools/scripts/libs/fs-toolkit.js
  tools/scripts/serve-dist-storybook.js
  tools/scripts/storybook-create-root-index-html.js
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(azure pipelines): templates var env
  .azure-pipelines/templates/var_env.yml
Due: none

feat(azure pipelines): template to publish storybook build artifact
  .azure-pipelines/templates/steps_storybook-artifact_publish.yml
Due: none

feat(azure pipelines): template to download storybook build artifact
  .azure-pipelines/templates/steps_storybook-artifact_download.yml
Due: none

feat(azure pipelines): cd storybook
  .azure-pipelines/cd/storybook.yml
Due: none

feat(azure pipelines): manually build storybook
  .azure-pipelines/manually/build-storybook.yml
Due: none

update(tools scripts): nx code related
  tools/scripts/nx-calculate-commands.js
  tools/scripts/nx-run-all.js
  tools/scripts/nx-run-many.js
  tools/scripts/nx-run-one.js
Due: none

update(azure pipelines): ci branches
  .azure-pipelines/ci/branches.yml
Due: none

feat(project): add @nrwl/storybook dev dep
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

feat(storybook): initial code support for the libs/shared/ui-components
  .storybook/main.js
  .storybook/tsconfig.json
  .storybook/webpack.config.js
  apps/shared-ui-components-e2e/.eslintrc.json
  apps/shared-ui-components-e2e/cypress.json
  apps/shared-ui-components-e2e/src/fixtures/example.json
  apps/shared-ui-components-e2e/src/plugins/index.js
  apps/shared-ui-components-e2e/src/support/commands.ts
  apps/shared-ui-components-e2e/src/support/index.ts
  apps/shared-ui-components-e2e/tsconfig.e2e.json
  apps/shared-ui-components-e2e/tsconfig.json
  docs/project-creation-commands.md
  libs/shared/ui-components/.eslintrc.json
  libs/shared/ui-components/.storybook/main.js
  libs/shared/ui-components/.storybook/preview.js
  libs/shared/ui-components/.storybook/tsconfig.json
  libs/shared/ui-components/.storybook/webpack.config.js
  libs/shared/ui-components/tsconfig.json
  libs/shared/ui-components/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
  workspace.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(storybook): global webpack config to load sass and also to map the libs/shared/assets
  .storybook/webpack.config.js
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(docs): azure devops pipelines flows
  docs/build-release-flow/azure-devops_pipelines-flows.md
Due: none

update(docs): build release flow assets
  docs/build-release-flow/assets/cd_storybook.png
  docs/build-release-flow/assets/ci_branches.png
  docs/build-release-flow/assets/ci_pull-requests.png
  docs/build-release-flow/assets/manually_build_all.png
  docs/build-release-flow/assets/manually_build_one.png
  docs/build-release-flow/assets/manually_build_storybook.png
Due: none

update(project): code style formatting
  .editorconfig
  .prettierrc
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(project): scripts on package.json file
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(docs): nx storybook plugin
  docs/nx-storybook-plugin.md
Due: none

update(libs): storybook config on the shared/ui-components
  libs/shared/ui-components/.storybook/main.js
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(docs): README.md on the shared/ui-components
  libs/shared/ui-components/README.md
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(storybook): main webpack.config.js file
  .storybook/webpack.config.js
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

feat(libs): add storybook stories for the libs/shared/ui-components
  libs/shared/ui-components/src/Layout/Footer/index.stories.tsx
  libs/shared/ui-components/src/Layout/Header/index.stories.tsx
  libs/shared/ui-components/src/Layout/index.stories.tsx
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(storybook): to use the essentials addons from the storybook v6
  .storybook/main.js
  docs/nx-storybook-plugin.md
  libs/shared/ui-components/.storybook/preview.js
  libs/shared/ui-components/src/Layout/Footer/index.stories.tsx
  libs/shared/ui-components/src/Layout/Header/index.stories.tsx
  libs/shared/ui-components/src/Layout/index.stories.tsx
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

feat(storybook): add the initial e2e tests to the shared/ui-components lib
  apps/shared-ui-components-e2e/src/integration/Layout.spec.ts
  apps/shared-ui-components-e2e/src/support/Layout.po.ts
  libs/shared/ui-components/README.md
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

feat(e2e): add tests to the shared/ui-component Layout Header
  apps/shared-ui-components-e2e/src/integration/LayoutHeader.spec.ts
  apps/shared-ui-components-e2e/src/support/LayoutHeader.po.ts
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(docs): assets nx_dep-graphs.png
  docs/assets/nx_dep-graphs.png
Due: none

update(project): package.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(project): nx version
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(project): sass dev dependency
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

Path conditions:
  .azure-pipelines/ci.yml: any file but: .azure-pipelines, .vscode, docs, tools
  .azure-pipelines/ci/branches.yml: any file but: .azure-pipelines, .vscode, docs, tools
  .azure-pipelines/ci/pull-requests.yml: any file but: .azure-pipelines, .vscode, tools, docs, README.md
  .azure-pipelines/ci_branches.yml: any file but: .azure-pipelines, .vscode, docs, tools
