Repository erkobridee/nx-frontends: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

.azure-pipelines/ci.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: initial_setup
    displayName: nx calculate commandas
    steps:
    - template: templates/steps_install-node-modules.yml
  ...

.azure-pipelines/ci/branches.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: validate_build
    displayName: validate and build
    jobs:
    - job: initial_setup
      displayName: nx calculate commands
      steps:
      - template: ../templates/steps_install-node-modules.yml
  ...

.azure-pipelines/ci/pull-requests.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: check_format
    displayName: nx format:check
    steps:
    - template: ../templates/steps_install-node-modules.yml
    - script: 'npx nx format:check --base=origin/develop --head=HEAD
  
        '
  ...

.azure-pipelines/ci_branches.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: validate_build
    displayName: validate and build
    jobs:
    - job: initial_setup
      displayName: nx calculate commands
      steps:
      - template: templates/steps_install-node-modules.yml
  ...

update(project): nx version
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(docs): README
  README.md
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci_branches.yml

update(storybook): load the shared styles
  libs/shared/ui-components/src/Layout/Footer/index.stories.tsx
  libs/shared/ui-components/src/Layout/Header/index.stories.tsx
  libs/shared/ui-components/src/Layout/index.stories.tsx
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

[Azure DevOps] 2020-11-11T16:03:23.462Z - Auto-generated commit
  .azure-pipelines/cd/frontend-app-1_dev.yml
  .azure-pipelines/cd/frontend-app-1_prod.yml
  .azure-pipelines/cd/frontend-app-2_dev.yml
  .azure-pipelines/cd/frontend-app-2_prod.yml
  .azure-pipelines/cd/gatsby-site_dev.yml
  .azure-pipelines/cd/gatsby-site_prod.yml
  .azure-pipelines/cd/storybook.yml
  .azure-pipelines/cd/templates/azure-cloud-update.yml
  .azure-pipelines/cd/templates/deploy-one.yml
  dist/3rdpartylicenses.txt
  dist/assets/.gitkeep
  dist/assets/images/logo.png
  dist/assets/images/logo.svg
  dist/assets/images/star.svg
  dist/favicon.ico
  dist/index.html
  dist/main.37732995393f76d28b87.esm.js
  dist/main.37732995393f76d28b87.esm.js.LICENSE
  dist/main.8b2b951030491596cb04.es5.js
  dist/main.8b2b951030491596cb04.es5.js.LICENSE
  dist/polyfills.4e05765e8b625a625564.es5.js
  dist/polyfills.c5c4fdadab70353ad788.esm.js
  dist/runtime.365178a7a0f8f038a0f1.js
  dist/runtime.ea86ecefbed611ddfe95.js
  dist/styles.78ef51bdf3cc7f939827.css
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

[Azure DevOps] 2020-11-11T16:03:32.199Z - Auto-generated commit
  .azure-pipelines/cd/frontend-app-1_dev.yml
  .azure-pipelines/cd/frontend-app-1_prod.yml
  .azure-pipelines/cd/frontend-app-2_dev.yml
  .azure-pipelines/cd/frontend-app-2_prod.yml
  .azure-pipelines/cd/gatsby-site_dev.yml
  .azure-pipelines/cd/gatsby-site_prod.yml
  .azure-pipelines/cd/storybook.yml
  .azure-pipelines/cd/templates/azure-cloud-update.yml
  .azure-pipelines/cd/templates/deploy-one.yml
  dist/3rdpartylicenses.txt
  dist/assets/.gitkeep
  dist/assets/images/logo.png
  dist/assets/images/logo.svg
  dist/assets/images/star.svg
  dist/favicon.ico
  dist/index.html
  dist/main.9981fca12e4f70b026d7.esm.js
  dist/main.9981fca12e4f70b026d7.esm.js.LICENSE
  dist/main.b2437906ec764f2e136f.es5.js
  dist/main.b2437906ec764f2e136f.es5.js.LICENSE
  dist/polyfills.4e05765e8b625a625564.es5.js
  dist/polyfills.c5c4fdadab70353ad788.esm.js
  dist/runtime.365178a7a0f8f038a0f1.js
  dist/runtime.ea86ecefbed611ddfe95.js
  dist/styles.78ef51bdf3cc7f939827.css
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(azure pipelines): ci pull requests
  .azure-pipelines/ci/pull-requests.yml
Due: none

update(tools scripts): libs execute sync command
  tools/scripts/libs/execute-sync-command.js
Due: none

update(tools scripts): nx path
  tools/scripts/nx-calculate-commands.js
  tools/scripts/nx-run-all.js
  tools/scripts/nx-run-many.js
  tools/scripts/nx-run-one.js
Due: none

refactor(azure pipelines): redefine the template steps cache npm flow
  .azure-pipelines/templates/steps_cache-npm.yml
Due: none

refactor(azure pipelines): redefine the template build one flow
  .azure-pipelines/manually/templates/build-one.yml
Due: none

update(azure pipelines): CI branches
  .azure-pipelines/ci/branches.yml
Due: none

update(azure pipelines): CI pull requests
  .azure-pipelines/ci/pull-requests.yml
Due: none

update(azure pipelines): manually build all
  .azure-pipelines/manually/build-all.yml
Due: none

update(azure pipelines): manually build storybook
  .azure-pipelines/manually/build-storybook.yml
Due: none

update(azure pipelines): var env template
  .azure-pipelines/templates/var_env.yml
Due: none

updat(azure pipelines): ci branches
  .azure-pipelines/ci/branches.yml
Due: none

update(azure pipelines): steps cache npm template
  .azure-pipelines/templates/steps_cache-npm.yml
Due: none

add LICENSE
  LICENSE
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(project): 1st step of nx upgrate to v10.4.5
  migrations.json
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

refactor(nx): migrated files to v10.4.5
  .eslintrc.json
  apps/frontend-app-1/.eslintrc.json
  apps/frontend-app-2/.eslintrc.json
  apps/gatsby-site/.eslintrc.json
  libs/shared/ui-components/.eslintrc.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

refactor(project): remove nx migrations.js
  migrations.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(project): gatsby dev deps versions
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(nx): workspace.json
  workspace.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(nx): 1st step of migration to v11.1.2
  migrations.json
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(nx): migrate to v11.5.2
  .eslintrc.json
  apps/frontend-app-1-e2e/.eslintrc.json
  apps/frontend-app-1/.babelrc
  apps/frontend-app-1/.eslintrc.json
  apps/frontend-app-2-e2e/.eslintrc.json
  apps/frontend-app-2/.babelrc
  apps/frontend-app-2/.eslintrc.json
  apps/gatsby-site-e2e/.eslintrc.json
  apps/gatsby-site/.babelrc
  apps/gatsby-site/.eslintrc.json
  apps/shared-ui-components-e2e/.eslintrc.json
  babel.config.json
  libs/shared/ui-components/.babelrc
  libs/shared/ui-components/.eslintrc.json
  migrations.json
  package-lock.json
  package.json
  tools/generators/.gitkeep
  workspace.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

refactor(nx): remove migrations.json
  migrations.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

refactor(project): switch from classnames to clsx
  docs/project-creation-commands.md
  libs/shared/ui-components/src/Layout/Footer/index.tsx
  libs/shared/ui-components/src/Layout/Header/index.tsx
  libs/shared/ui-components/src/Layout/index.tsx
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(nx): 1st of migrating to v12
  migrations.json
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

update(nx): 2nd step of migration to v12
  apps/frontend-app-1/tsconfig.json
  apps/frontend-app-2/tsconfig.json
  apps/gatsby-site/tsconfig.json
  libs/shared/ui-components/.storybook/tsconfig.json
  libs/shared/ui-components/tsconfig.json
  workspace.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

feat(project): add husky to the project
  .gitignore
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

refactor(project): remove unnecessary dev dep gatsby-cli
  package-lock.json
  package.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

fix(prettier): code format
  workspace.json
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

[Azure DevOps] 2021-04-16T14:56:48.957Z - Auto-generated commit
  .azure-pipelines/cd/frontend-app-1_dev.yml
  .azure-pipelines/cd/frontend-app-1_prod.yml
  .azure-pipelines/cd/frontend-app-2_dev.yml
  .azure-pipelines/cd/frontend-app-2_prod.yml
  .azure-pipelines/cd/gatsby-site_dev.yml
  .azure-pipelines/cd/gatsby-site_prod.yml
  .azure-pipelines/cd/storybook.yml
  .azure-pipelines/cd/templates/azure-cloud-update.yml
  .azure-pipelines/cd/templates/deploy-one.yml
  dist/index.html
  dist/shared-ui-components/0.06129642375aee4c287e.manager.bundle.js
  dist/shared-ui-components/0.0ebc8f48.iframe.bundle.js
  dist/shared-ui-components/4.6b7acac1d82bf0bca292.manager.bundle.js
  dist/shared-ui-components/4.6b7acac1d82bf0bca292.manager.bundle.js.LICENSE.txt
  dist/shared-ui-components/4.9fccc6dd.iframe.bundle.js
  dist/shared-ui-components/4.9fccc6dd.iframe.bundle.js.LICENSE.txt
  dist/shared-ui-components/4.9fccc6dd.iframe.bundle.js.map
  dist/shared-ui-components/5.24d7f2f3.iframe.bundle.js
  dist/shared-ui-components/5.7119ad322baec0d16ac3.manager.bundle.js
  dist/shared-ui-components/6.4d4744e6dab5c3e365c4.manager.bundle.js
  dist/shared-ui-components/6.4d4744e6dab5c3e365c4.manager.bundle.js.LICENSE.txt
  dist/shared-ui-components/6.e0c3f000.iframe.bundle.js
  dist/shared-ui-components/6.e0c3f000.iframe.bundle.js.LICENSE.txt
  dist/shared-ui-components/6.e0c3f000.iframe.bundle.js.map
  dist/shared-ui-components/7.01c52c02.iframe.bundle.js
  dist/shared-ui-components/7.da403c977a74f7c241f8.manager.bundle.js
  dist/shared-ui-components/8.b3c20e38c5658190edf2.manager.bundle.js
  dist/shared-ui-components/favicon.ico
  dist/shared-ui-components/iframe.html
  dist/shared-ui-components/index.html
  dist/shared-ui-components/main.3bf72da4.iframe.bundle.js
  dist/shared-ui-components/main.600e0790acb8397bb39e.manager.bundle.js
  dist/shared-ui-components/runtime~main.4c342553968774cf1ec1.manager.bundle.js
  dist/shared-ui-components/runtime~main.b4dfda22.iframe.bundle.js
  dist/shared-ui-components/vendors~main.db1c47bc0597f001ef8d.manager.bundle.js
  dist/shared-ui-components/vendors~main.db1c47bc0597f001ef8d.manager.bundle.js.LICENSE.txt
  dist/shared-ui-components/vendors~main.fa83805f.iframe.bundle.js
  dist/shared-ui-components/vendors~main.fa83805f.iframe.bundle.js.LICENSE.txt
  dist/shared-ui-components/vendors~main.fa83805f.iframe.bundle.js.map
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

[Azure DevOps] 2021-04-16T14:56:49.500Z - Auto-generated commit
  .azure-pipelines/cd/frontend-app-1_dev.yml
  .azure-pipelines/cd/frontend-app-1_prod.yml
  .azure-pipelines/cd/frontend-app-2_dev.yml
  .azure-pipelines/cd/frontend-app-2_prod.yml
  .azure-pipelines/cd/gatsby-site_dev.yml
  .azure-pipelines/cd/gatsby-site_prod.yml
  .azure-pipelines/cd/storybook.yml
  .azure-pipelines/cd/templates/azure-cloud-update.yml
  .azure-pipelines/cd/templates/deploy-one.yml
  dist/assets/.gitkeep
  dist/assets/images/logo.png
  dist/assets/images/logo.svg
  dist/assets/images/star.svg
  dist/favicon.ico
  dist/index.html
  dist/main.js
  dist/main.js.map
  dist/polyfills.js
  dist/polyfills.js.map
  dist/runtime.js
  dist/runtime.js.map
  dist/styles.js
  dist/styles.js.map
  dist/vendor.js
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

[Azure DevOps] 2021-04-16T14:56:53.209Z - Auto-generated commit
  .azure-pipelines/cd/frontend-app-1_dev.yml
  .azure-pipelines/cd/frontend-app-1_prod.yml
  .azure-pipelines/cd/frontend-app-2_dev.yml
  .azure-pipelines/cd/frontend-app-2_prod.yml
  .azure-pipelines/cd/gatsby-site_dev.yml
  .azure-pipelines/cd/gatsby-site_prod.yml
  .azure-pipelines/cd/storybook.yml
  .azure-pipelines/cd/templates/azure-cloud-update.yml
  .azure-pipelines/cd/templates/deploy-one.yml
  dist/assets/.gitkeep
  dist/assets/images/logo.png
  dist/assets/images/logo.svg
  dist/assets/images/star.svg
  dist/favicon.ico
  dist/index.html
  dist/main.js
  dist/main.js.map
  dist/polyfills.js
  dist/polyfills.js.map
  dist/runtime.js
  dist/runtime.js.map
  dist/styles.js
  dist/styles.js.map
  dist/vendor.js
Due: .azure-pipelines/ci.yml, .azure-pipelines/ci/branches.yml, .azure-pipelines/ci/pull-requests.yml, .azure-pipelines/ci_branches.yml

Path conditions:
  .azure-pipelines/ci.yml: any file but: .azure-pipelines, .vscode, docs, tools
  .azure-pipelines/ci/branches.yml: any file but: .azure-pipelines, .vscode, tools, docs, README.md
  .azure-pipelines/ci/pull-requests.yml: any file but: .azure-pipelines, .vscode, tools, docs, README.md
  .azure-pipelines/ci_branches.yml: any file but: .azure-pipelines, .vscode, docs, tools
